ul,
ol{
	margin-left: 23px;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 24px;
}

h5{
	font-size: 20px;
}

h6{
	font-size: 16px;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}