html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html, body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 24px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
}

a{
	text-decoration: none;
}

#primary-navigation{
	width: 100%;
	text-align: center;
}
	
#header-area{	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
	text-align: center;
}

.site-branding{
	padding-bottom: 10px;
}

#header-area .description{
	font-size: 24px;
	text-align: left;
	margin:15px 0px;
	overflow: hidden;
}

#header-area h1 a, 
#header-area p a{
	text-decoration: none;
}

.home article{
	width: 100%;
}

.archive article,
.tag article,
.search article,
.author article{
	width: 100%;
}

.search-no-results article{
	width: 100%;
}

.home article,
.archive article,
.tag article,
.search article,
.author article{
   	position: relative;
   	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
}

.site-navigation{
	position: relative;
	padding: 0px;
	margin: 0px;
	padding-top: 3px;	
	width: 100%;
	z-index: 10;
	font-size: 25px;
}

body{
	font-family: 'Josefin Sans', sans-serif;
}

div#menuStrip div{
	display: block;
    background: #000;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
	text-align:center;
}	

div#searchBar{
	display: none;
}

#searchform p{
	text-align:center;
	padding:10px;
}

#searchform{
	text-align: center;
}

div.holder{
	height: 100%;
	width: 100%;
	left: 0px;
    top: 0px;
	display:none;
	background:#000;
	position: fixed;
	z-index: 1000000;
}

div.holderbar{
	background:#fff;
	width: 90%;
	position:fixed;
	left: 5%;
	z-index: 1000001;
	top:10%;
	height:80%;
}

div#searchBar{
	top:45%;
	height: 20%;
}

p.holderclose{
    margin:7%;
    right: 2.5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #000;
    color: #fff;
    height: 38px;
    min-width: 28px;
    padding-left: 10px;
    cursor: pointer;
    cursor: hand;
    z-index: 1000000000;
    position: fixed;
    display: none;
}

p#previewClose{
	right: 3%;
    position: fixed;
    margin: 2%;
    color: #fff;
    background: #000;
    border-radius: 25px;
    height: 38px;
    width: 38px;
}

p#commentsClose{
	margin: 7% 4%;
}

p#widgetsClose,
p#updatesClose,
p#filesClose{
	margin: 1.5% 3.5%;
}

#scroll_bottom{
	margin: 10px;
	text-align: center;
}

p#searchClose{
	margin: 3% 4%;
}

p#filterClose{
	margin: 15% 4%;
}

p#infoClose{
	margin: 2% 5%;
}

p.holderclose span,
p#previewClose span{
	position:relative;
	top:2px;
}

div#filterBar{
	top:3%;
	display:none;
	height:94%;
}

div#filterBar select,
div#filterBar input,
div#filterBar p{
	display:block;
	width: 80%;
	text-align: center;
	margin: 1% 3%;
	padding: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}

#filterShowButton{
	font-size:20px;
	padding: 5px;
}

div#filterBar p{
	text-align:left;
}

div#menuStrip{
	position:fixed;
	top:30px;
	left:0px;
	z-index:100;
}

div#page{
	position:relative;
	top:30px;
}

nav#primary-navigation{
	display: none;
	background:#fff;
	margin:5%;
	height:80%;
	width:90%;
	opacity:2;
}

div#previewHolder{
	z-index:-1; 
	position:fixed; 
	top:50%; 
	left:50%; 
	opacity:0.0;
}

.home #main article,
.search #main article,
.archive #main article{
	-webkit-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.2);
}

div#previewHolderContent{
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

#previewContent{
	text-align:left;
}

.home article,
.search article,
.archive article{
	position: relative;
    	width: 80%;
	margin: 1% 10%;
    	color:#000;
	min-height: 150px;
	overflow: hidden;
}

.home article,
.search article,
.archive article{
	left: -50000px;
	display: table;
}

.home article.content_preview,
.search article.content_preview,
.archive article.content_preview{
	width:100%;
	margin: 0%;
}

.home article .entry-title,
.search article .entry-title,
.archive article .entry-title{
	font-size: 20px;
}

.home article .entry-header,
.search article .entry-header,
.archive article .entry-header{
	width: 20%;
	display: table-cell;
    	vertical-align: middle;
	float:left; 
	text-align:center;
	height: 100%;
	min-height: 150px;
}

.home article .content-holder,
.search article .content-holder,
.archive article .content-holder {
    height: 100%;
    min-height: 150px;
    width: 55%;
    display: table;
    padding: 5px;
	float:left; 
	text-align:center;
}

.home article.content_preview .content-holder,
.search article.content_preview .content-holder,
.archive article.content_preview .content-holder {
	border:none;
}	

.page article .entry-content,
.single article .entry-content{
	margin: 2%;
}

.page #content,
.single #content{
	margin: 0% 10% 10% 10%;
	width: 80%;
}

.home article.comment-body,
.search article.comment-body,
.archive article.comment-body{
	left: 0px;
	width: 93%;
}

#previewContent ol,
#previewContent ul{
	padding-left:4%;
}

.home article.content_preview,
.search article.content_preview,
.archive article.content_preview{
	left: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.home article.content_preview .entry-header .entry-title,
.search article.content_preview .entry-header .entry-title,
.archive article.content_preview .entry-header .entry-title{
	margin: 20px;
	font-size: 30px;
}

.home article.content_preview .entry-content-index,
.search article.content_preview .entry-content-index,
.archive article.content_preview .entry-content-index{
    margin: 20px;
	min-height: 150px;
}

.home article.content_preview .title-holder,
.search article.content_preview .title-holder,
.archive article.content_preview .title-holder {
	width: 100%;
	position: relative;
	display: inline-block;
}

.home article.content_preview #previewTitle,
.search article.content_preview #previewTitle,
.archive article.content_preview #previewTitle{
	display:none;
}

.home article.content_preview .content-holder,
.search article.content_preview .content-holder,
.archive article.content_preview .content-holder{
	position: relative;
	color: #000;
    width: 100%;
	padding: 5px;
	left: 0px;
	top: auto;
	display: inline-block;
	overflow-y: auto;
    width: 99%;
	display: hidden;
}

.home article.content_preview div#previewContent,
.search article.content_preview div#previewContent,
.archive article.content_preview div#previewContent{
	display: hidden;
}

.home article .read-more-holder,
.search article .read-more-holder,
.archive article .read-more-holder{
	height: 100%;
    	display: inline-block;
    	width: 20%;
	text-align:center;
	padding: 5px;
	min-height:150px;
}

#commentsSpace,
#updatesSpace,
#filesSpace,
#widgetsSpace{
	margin: 3%;
	width: 90%;
	height: 70%;
	overflow: scroll;
}

.holderbar h2{
	margin: 3% 0% 0% 3%;
}

#updatesBar h2{
	margin: 3%;
}

#updatesSpace h2{
	margin: 0px;
}

#sidebar h2{
	margin: 0px;
}

.archive article .entry-title,
.search article .entry-title,
.author article .entry-title{
	font-size: 25px;
	margin-top: 2px;
}

article .entry-title{
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	line-height: normal; 
}

article .entry-content{
	text-align: left;
	vertical-align: middle;
	line-height: normal; 
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

.entry-footer{
	text-align: left;
}

.entry-footer div{
	text-align: left;
	margin: 15px 0px;
	display: inline-block;
}

.entry-footer div h6{
	display: inline-block;
}

.entry-footer div h6.meta_label{
	clear: both;
	position: relative;
	margin-right: 10px;
	font-size: 24px;
}

.entry-footer a{
	text-decoration: none;
}

#comments #form-allowed-tags{
	font-size: 15px;
}

#comments label{
	vertical-align: top;
}

.category article .entry-title,
.category article .page-footer,
.search article .entry-title,
.search article .page-footer,
.author article .entry-title,
.author article .page-footer,
.tag article .entry-title,
.tag article .page-footer{
	padding: 3px;
}

.category .page-header,
.category .page-footer,
.home .page-footer,
.author .page-header,
.author .page-footer,
.search .page-header,
.search .page-footer,
.tag .page-header,
.tag .page-footer{
	position: relative;
	font-size: 30px;
	width: 100%;
	margin: 0% 0% 1% 0%;
}

.home .page-footer,
.category .page-footer,
.search .page-footer,
.author .page-footer,
.tag .page-footer{
	top: 0px;
}

.page-header .page-title,
.search .page-title,
.page-footer .page-title,
.page-footer .pagination,
.featured-content .page-title,
.page-header .taxonomy-description,
.page-footer .taxonomy-description{
	padding: 10px;
}

.search .page-title,
.tag #content .page-footer,
.search #content .page-footer,
.category #content .page-footer,
.author #content .page-footer{
	margin-bottom: 10px;
}

.page-footer .taxonomy-description a{
	text-decoration: none;
}

.page-footer h1 a,
.page-footer h1 span{
	text-decoration: none;
	padding: 2px 10px;
}

footer.page-footer h1.pagination{
	text-align: center;
}

footer.page-footer h1.pagination span.more{
	padding: 4px;
	margin-right: 10px;
}

#primary-navigation{
	margin-top: 1%;
	margin-bottom: 1%;
}

#sitesearchform{
	text-align:center;
}

#accessform form,
#sitesearchform form{
	width: 96%;
}

#searchorm form{
	margin: 3% 2%;
	text-align: center;
}

#accessform{
	padding: 0% 3%;
}

#accessform p{
	/*padding: 0.2% 0%;*/
}

#sitesearchform form input[type=text]{
	width: 53%;
	height: 32px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color: #aaa;
	padding: 10px;
	border: none;
}

#sitesearchform form input[type=submit]{
	height: 53px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 0px 5px;
    border: none;
    margin: 0px;
}

section.not-found{
	width: 90%;
	margin: 5%;
}

section.not-found .page-content{
	margin-bottom: 10px;
	padding: 20px 10px;
}

.taxonomy_picture{
	width: 20%;
	height: 200px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.taxonomy_content{
	width: 70%;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

#tag_cloud{
	overflow: hidden;
}

.comment-body{
	width: 100%;
	left: 0%;
	margin: 1% 5%;
	position: relative;
	overflow: hidden;
	padding: 10px;
}

body .comment-list article{
	padding: 10px;
	margin: 0px;
	width: 98%;
}

.comment-respond{
	margin: 5px;
}

.comment-reply-title{
	font-size: 30px;
}

.comment-form-comment{
	margin: 10px 0px;
}

.comment-form-comment textarea{
	width: 99%;
}	

input[type=submit], 
button{
	font-family: "Josefin Sans", sans-serif;
	border: none;
	cursor: pointer;
	font-size: 25px;
	padding: 5px;
}

.widget-title{
	color: inherit;
	font-size: 20px;
}

.page-footer h1.pagination,
.page-footer h1.page-title{
	padding: 20px;
}

.page p.entry-title,
.single p.entry-title{
	font-size: 40px;
}

.page .entry-content,
.single .entry-content{
	margin: 20px 0px;
}

#main .comment-list .comment article{
	margin: 10px 0px;
}

img.avatar{
	float:left;
	margin: 0% 2% 1% 0%;
}

.fn{
	vertical-align: top;
    float: left;
    margin: 0px 5px;
}

.comment-meta time{
	margin-left: 5px;
}

.description{
	padding: 15px;
}

.page #primary,
.single #primary{
	margin-top: 10px;
}

#commentform p{
	margin: 5px 0px;
}

#commentform input[type=text],
#commentform input[type=email],
#commentform input[type=url]{
	padding: 5px;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}

.page article,
.single article{
	width: 100%;
	display: inline-block;
}

.page .navigation,
.page header,
.page footer,
.single .navigation,
.single header,
.single footer{
	margin: 2%;
}

.page footer.comment-meta,
.single footer.comment-meta{
	margin: 0%;
}

#comments{
	margin: 10px 0px;
	padding: 5px;
}

html body #main #comments article{
	margin: 0px;
	background-color: inherit;
	padding: 5px;
}

#comments input#author{
	margin-left: 10px;
}

#comments input#email{
	margin-left: 20px;
}	

.widget-area aside{
	  padding: 10px;
	  margin-bottom: 10px;
}

.non_front_menu{
	margin-top: 5px;
	text-align: center;
	font-size:30px;	
}

.category-page{
	text-align:center;
}

.post-thumbnail-article{
	display: block;
	margin: 5px auto;
}

.site-title{
	padding-top: 10px;
}

html{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

#comments ul,
#comments ol{
	list-style: none;
}

.entry-content ul,
.entry-content ol,
.widget-area aside ul,
.widget-area aside ol{
	margin-left: 23px;
}

main{
	display: inline-block;
	width: 100%;
}

footer#colophon{
	margin-top: 10px;
}

.error404 #page h1.page-title{
	margin: 0px;
	padding: 0px;
}

input.search-field{
	padding: 10px;
	vertical-align: top;
	width: 80%;
	margin: 5px 0px;
}

#primary{
	margin-top: 10px;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 24px;
}

h5{
	font-size: 20px;
}

h6{
	font-size: 16px;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 8px;
	vertical-align: middle;
	border-top: 7px solid;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}

#filesSpace div {
	width: 12%;
	margin: 1%;
	display: inline-block;
	vertical-align: top;
	height: 100px;
}

#filesSpace div img{
	width: 100%;
	height: 100%;
}	

#filesSpace div p{
	text-align: center;
	position: relative;
	top: -60px;
	font-size: 14px;
	background: #fff;
	width: 100%;
	word-wrap: break-word;
}	

#previewHolder #previewHolderContent article .entry-header{
	width: 100%;
}

#gradient{
	height:80px;
}

#updatesSpace .newContent,
#updatesSpace #unreadPosts{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

#subscribesform,
#infoform,
#subscribeResponse{
	padding: 3%;
}

#subscribesform p{
	margin:2% 0%;
}	

#subscribesform #emailaddress{
	margin:2%;
	padding:2%;
}	

.page article ul,
.page article ol,
.single article ul,
.single article ol{
	padding-left: 2.5%;
}	

.page p.comment-form-url #url
.single p.comment-form-url #url,
.home p.comment-form-url #url{
	margin-left: 14px;
}

.page #comments p.comment-form-author #author,
.single #comments p.comment-form-author #author,
.home #comments p.comment-form-author #author{
	margin-left: 13px;
}

.page .content-holder,
.single .content-holder,
#comments{
	margin: 2%;
}	

.linkprevious, 
.linknext{
	display: inline-block;
	vertical-align: top;
	width: 44%;
	margin:2%;
}

.linknext{
	text-align:right;
}

.linkhome{
	width:96%;
	text-align:center;
	margin: 2%;
}

.paginationNumbers{
	text-align:center;
}

.nomoreposts{
	padding: 20px;
	text-align: center;
}

.page .thumbnail,
.single .thumbnail{
	text-align:center;
	margin:0 auto;
}

.pagination a{
	padding: 3px;
	margin: 1px;
}

.paginationNumbers p{
	margin: 3px;
}

#sitesearchform form input[type=text],
#commentform input[type=text],
#commentform input[type=email],
#commentform input[type=url],
textarea{
	background-color: #000;
	color: #fff;
	border:1px solid #fff;
}

html body .sp-replacer{
	background:#fff;
}

#filterBar label{
	margin: 0% 3%;
}

.entry-read-more{
	cursor: pointer;
	cursor: hand;
}

.page #main article .aside
.single #main article .aside{
	width:80%;
	padding: 5%;
	margin:0% 5%;
}

.page blockquote,
.single blockquote{
	font-style: italic;
	font-size: 40px;
}

.page .image,	
.single .image{
	height: 500px;
	text-align: center;
	margin: 0 auto;
}	

.page .gallery,
.page .video .wp-video
.single .gallery,
.single .video .wp-video{
	text-align: center;
	margin: 0 auto;
}	

.page .gallery img,	
.single .gallery img{
	display: inline-block;
}	

.page .chat p,		
.single .chat p{
	display: inline-block;
}	
		
#infoBar h1{
	display: inline-block;
	width: 40%;
}		

#infoform p{
	display: inline-block;
	width:57%;
	margin-left: 10px;
}		

#infoform{
	width: 80%;
	height: 60%;
	overflow-y: scroll;
	position:fixed;
}

#basic_accessibility_widget_options label,
#basic_accessibility_widget_options input{
	display: block;
	text-align: left;
	margin: 0.5% 0%;
}	

#basic_accessibility_widget_options div#access-font-size{
	margin: 3% 0%;
}

#antoninetopscroll{
	position: fixed;
	top: 80%;
	right: 5%;
	display: none;
}

#shareForm{
	display: none;
}

#shareButtons{
	margin-left: 30px;
	padding: 2px;
}

#shareButtons a{
	padding: 0px 10px;
}

#commentsSpace blockquote{
	margin: 5px 0 10px 0;
}

.no-posts{
	width:75%;
	margin: 0 12.5%;
}

section.error-404 header.page-header{
	text-align:center;
}	
	
.sticky{}

.accessibility_hidden{
	display:none;
}

.single article table{
	width: 100%;
}

.filter_reset{
	font-size:20px;
}	

.search-results .page p.entry-title{
	font-size: 25px;
}

.search-results .page header,
.search-results .page .content-holder{
	margin: 0%;
}

footer#colophon{
	height: 100px;
}

div.content-holder div{
	word-break: break-word;
}